<section>
  <div class="page-header">
    <h1>Foros</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="foro in vm.foros"
       ui-sref="foros.view({ foroId: foro._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="foro.created | date:'mediumDate'"></span>
        by
        <span ng-if="foro.user" ng-bind="foro.user.displayName"></span>
        <span ng-if="!foro.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="foro.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.foros.$resolved && !vm.foros.length">
    No Foros yet, why don't you <a ui-sref="foros.create">create one</a>?
  </div>
</section>
