<section class="view-foro">
  <div class="page-header">
    <h1 ng-bind="vm.foro.name"></h1>
  </div>
   <div class="lead">
    <p ng-bind="vm.foro.contenido"></p>
  </div>
  <div class="pull-right"
       ng-show="vm.foro.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="foros.edit({ foroId: vm.foro._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.foro.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.foro.user"
            ng-bind="vm.foro.user.displayName"></span>
      <span ng-if="!vm.foro.user">Deleted User</span>
    </em>
  </small>
  <!-- <p class="lead" ng-bind="vm.foro.contenido"></p> -->
</section>
<ng-include src="'/modules/foros/client/views/new-foro.view.html'" ></ng-include>
 <div class="form-group">
     <button type="submit" data-toggle="modal" data-target="#nuevo-foro" class="btn btn-default">Agregar comentario</button>
 </div>

