<section class="view-foro">
  <div class="page-header">
    <h1 ng-bind="vm.foro.name"></h1>
  </div>
   <div class="lead">
    <p ng-bind="vm.foro.contenido"></p>
  </div>
  <div class="pull-right"
       ng-show="vm.foro.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="foros.edit({ foroId: vm.foro._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.foro.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.foro.user"
            ng-bind="vm.foro.user.displayName"></span>
      <span ng-if="!vm.foro.user">Deleted User</span>
    </em>
  </small>
  <!-- <p class="lead" ng-bind="vm.foro.contenido"></p> -->
</section>
<ng-include src="'/modules/foros/client/views/new-comment.view.html'" ></ng-include>
 <!--<div class="form-group">
     <button type="submit" data-toggle="modal" data-target="#nuevo-foro" class="btn btn-default">Agregar comentario</button>
 </div>-->
<div>
  <!--input class="btn" type="button" value="Agregar Comentario" ng-click="modalComentario(vm.foro._id)"-->
  <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="modalComentario(vm.foro._id)">
    <span class="glyphicon glyphicon-plus" aria-hidden="true">new Comment</span>
  </button>
</div>
<div class="view-foro col-md-10 col-md-offset-2">
  <div class="page-header">
    <h1>Comment List</h1>
  </div>
  <div class="well" ng-repeat="comentario in comentarios">
    <div class="row">
      <div class="col-xs-1">
        <img  class="img img-circle" src="{{comentario.user.profileImageURL}}" width="60" height="60">

      </div>
      <div class="col-xs-11" >
        <p style="color:black;">{{comentario.contenido}}</p>
      </div>
    </div>

    <!--img  class="img img-circle" src="{{comentario.user.providerData.picture.data.url}}" alt=""-->

  </div>

</div>


